In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

In [3]:
df = pd.read_csv('epinions.txt',sep='\t')

In [4]:
G = nx.DiGraph()
for index,rows in df.iterrows():
    u = rows['FromNodeId']
    v = rows['ToNodeId']
    s = rows['Sign']
    G.add_edge(u,v,sign=s)

In [5]:
in_pos = {}
in_neg = {}
for nodes in G.nodes():
    l = list(G.in_edges(nodes,data=True))
    pos = 0
    neg = 0
    for items in l:
        if items[2]['sign'] == 1:
            pos += 1
        else:
            neg += 1
    in_pos[nodes] = pos
    in_neg[nodes] = neg

In [6]:
nx.set_node_attributes(G,in_pos,'in_pos')
nx.set_node_attributes(G,in_neg,'in_neg')

In [7]:
out_pos = {}
out_neg = {}
for nodes in G.nodes():
    pos = 0
    neg = 0
    l = dict(G[nodes])
    for keys in l:
        if(l[keys]['sign'] == 1):
            pos += 1
        else:
            neg += 1
    out_pos[nodes] = pos
    out_neg[nodes] = neg

In [8]:
nx.set_node_attributes(G,out_pos,'out_pos')
nx.set_node_attributes(G,out_neg,'out_neg')

In [9]:
embed = {}
for edge in list(G.edges()):
    inward_i=[]
    inward_j=[]
    outward_i=[]
    outward_j=[]
    for items in list(G.in_edges(edge[0])):
        inward_i.append(items[0])
    for items in list(G.in_edges(edge[1])):
        inward_j.append(items[0])
    for keys in dict(G[edge[0]]):
        outward_i.append(keys)
    for keys in dict(G[edge[1]]):
        outward_j.append(keys)
    final_i = list(set(inward_i) | set(inward_j))
    final_j = list(set(outward_i) | set(outward_j))
    final = list(set(final_i) & set(final_j)) 
    embed[edge] = len(final)

In [10]:
nx.set_edge_attributes(G,embed,"embed")

In [11]:
in_pos_val = {}
in_neg_val = {}

for nodes in G.nodes():
    l = list(G.in_edges(nodes,data=True))
    pos=[]
    neg=[]
    for items in l:
        if items[2]['sign'] == 1:
            pos.append(items[0])
        else:
            neg.append(items[0])
    in_pos_val[nodes] = pos
    in_neg_val[nodes] = neg

In [12]:
out_pos_val = {}
out_neg_val = {}
for nodes in G.nodes():
    pos = []
    neg = []
    l = dict(G[nodes])
    for keys in l:
        if(l[keys]['sign'] == 1):
            pos.append(keys)
        else:
            neg.append(keys)
    out_pos_val[nodes] = pos
    out_neg_val[nodes] = neg

In [13]:
dplus_in_v = {}
dminus_in_v = {}
dplus_out_u = {}
dminus_out_u = {}
total_out_u = {}
total_in_v = {}
X = dict(G.nodes(data=True))
for edge in list(G.edges()):
    dplus_in_v[edge] = X[edge[1]]['in_pos']
    dminus_in_v[edge] = X[edge[1]]['in_neg']
    dplus_out_u[edge] = X[edge[0]]['out_pos']
    dminus_out_u[edge] = X[edge[0]]['out_neg']
    total_out_u[edge] = dplus_out_u[edge]+dminus_out_u[edge]
    total_in_v[edge] = dplus_in_v[edge]+dminus_in_v[edge]
nx.set_edge_attributes(G,dplus_in_v,"dplus_in_v")
nx.set_edge_attributes(G,dminus_in_v,"dminus_in_v")
nx.set_edge_attributes(G,dplus_out_u,"dplus_out_u")
nx.set_edge_attributes(G,dminus_out_u,"dminus_out_u")
nx.set_edge_attributes(G,total_out_u,"total_out_u")
nx.set_edge_attributes(G,total_in_v,"total_in_v")

In [14]:
uip_vip = {}
uip_vin = {}
uin_vip = {}
uin_vin = {}
uip_vop = {}
uip_von = {}
uin_vop = {}
uin_von = {}
uop_vip = {}
uop_vin = {}
uon_vip = {}
uon_vin = {}
uop_vop = {}
uop_von = {}
uon_vop = {}
uon_von = {}
X = dict(G.nodes(data=True))
edge_list = list(G.edges())
for edge in edge_list:
    u = edge[0]
    v = edge[1]
    uip = in_pos_val[u]
    uin = in_neg_val[u]
    uop = out_pos_val[u]
    uon = out_neg_val[u]
    vip = in_pos_val[v]
    vin = in_neg_val[v]
    vop = out_pos_val[v]
    von = out_neg_val[v]
    
    uip_vipx = len(list(set(uip) & set(vip)))
    uip_vinx = len(list(set(uip) & set(vin)))
    uin_vipx = len(list(set(uin) & set(vip)))
    uin_vinx = len(list(set(uin) & set(vin)))
    uip_vopx = len(list(set(uip) & set(vop)))
    uip_vonx = len(list(set(uip) & set(von)))
    uin_vopx = len(list(set(uin) & set(vop)))
    uin_vonx = len(list(set(uin) & set(von)))
    uop_vipx = len(list(set(uop) & set(vip)))
    uop_vinx = len(list(set(uop) & set(vin)))
    uon_vipx = len(list(set(uon) & set(vip)))
    uon_vinx = len(list(set(uon) & set(vin)))
    uop_vopx = len(list(set(uop) & set(vop)))
    uop_vonx = len(list(set(uop) & set(von)))
    uon_vopx = len(list(set(uon) & set(vop)))
    uon_vonx = len(list(set(uon) & set(von)))
    uip_vip[edge]=uip_vipx
    uip_vin[edge]=uip_vinx
    uin_vip[edge]=uin_vipx
    uin_vin[edge]=uin_vinx
    uip_vop[edge]=uip_vopx
    uip_von[edge]=uip_vonx
    uin_vop[edge]=uin_vopx
    uin_von[edge]=uin_vonx
    uop_vip[edge]=uop_vipx
    uop_vin[edge]=uop_vinx
    uon_vip[edge]=uon_vipx
    uon_vin[edge]=uon_vinx
    uop_vop[edge]=uop_vopx
    uop_von[edge]=uop_vonx
    uon_vop[edge]=uon_vopx
    uon_von[edge]=uon_vonx

    
nx.set_edge_attributes(G,uip_vip,"uip_vip")
nx.set_edge_attributes(G,uip_vin,"uip_vin")
nx.set_edge_attributes(G,uin_vip,"uin_vip")
nx.set_edge_attributes(G,uin_vin,"uin_vin")
nx.set_edge_attributes(G,uip_vop,"uip_vop")
nx.set_edge_attributes(G,uip_von,"uip_von")
nx.set_edge_attributes(G,uin_vop,"uin_vop")
nx.set_edge_attributes(G,uin_von,"uin_von")
nx.set_edge_attributes(G,uop_vip,"uop_vip")
nx.set_edge_attributes(G,uop_vin,"uop_vin")
nx.set_edge_attributes(G,uon_vip,"uon_vip")
nx.set_edge_attributes(G,uon_vin,"uon_vin")
nx.set_edge_attributes(G,uop_vop,"uop_vop")
nx.set_edge_attributes(G,uop_von,"uop_von")
nx.set_edge_attributes(G,uon_vop,"uon_vop")
nx.set_edge_attributes(G,uon_von,"uon_von")

In [15]:
df = pd.DataFrame(columns=[
'edge',
'uip_vip',
'uip_vin',
'uin_vip',
'uin_vin',
'uip_vop',
'uip_von',
'uin_vop',
'uin_von',
'uop_vip',
'uop_vin',
'uon_vip',
'uon_vin',
'uop_vop',
'uop_von',
'uon_vop',
'uon_von',
'dplus_in_v','dminus_in_v','dplus_out_u','dminus_out_u','total_out_u','total_in_v','embed',
'sign'])

In [16]:
df

Empty DataFrame
Columns: [edge, uip_vip, uip_vin, uin_vip, uin_vin, uip_vop, uip_von, uin_vop, uin_von, uop_vip, uop_vin, uon_vip, uon_vin, uop_vop, uop_von, uon_vop, uon_von, dplus_in_v, dminus_in_v, dplus_out_u, dminus_out_u, total_out_u, total_in_v, embed, sign]
Index: []

[0 rows x 25 columns]

In [17]:
df['edge']=uip_vip.keys()
df['uip_vip']=uip_vip.values()
df['uip_vin']=uip_vin.values()
df['uin_vip']=uin_vip.values()
df['uin_vin']=uin_vin.values()
df['uip_vop']=uip_vop.values()
df['uip_von']=uip_von.values()
df['uin_vop']=uin_vop.values()
df['uin_von']=uin_von.values()
df['uop_vip']=uop_vip.values()
df['uop_vin']=uop_vin.values()
df['uon_vip']=uon_vip.values()
df['uon_vin']=uon_vin.values()
df['uop_vop']=uop_vop.values()
df['uop_von']=uop_von.values()
df['uon_vop']=uon_vop.values()
df['uon_von']=uon_von.values()
df['embed'] = embed.values()
signCol=nx.get_edge_attributes(G,'sign')
df['sign'] = signCol.values()

In [18]:
df

,edge,uip_vip,uip_vin,uin_vip,uin_vin,uip_vop,uip_von,uin_vop,uin_von,uop_vip,...,uon_vop,uon_von,dplus_in_v,dminus_in_v,dplus_out_u,dminus_out_u,total_out_u,total_in_v,embed,sign
0,"(0, 1)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,-1
1,"(1, 128552)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,-1
2,"(2, 3)",1,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,"(4, 5)",0,0,0,0,0,0,0,0,0,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,527,-1
4,"(4, 155)",0,0,0,0,0,0,0,0,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,234,-1
5,"(4, 558)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15,1
6,"(4, 1509)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,70,-1
7,"(4, 2282)",0,0,0,0,0,0,0,0,0,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,127,1
8,"(4, 2984)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,23,1
9,"(4, 7263)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5,1
10,"(4, 10876)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,21,-1
11,"(4, 48703)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,10,-1
12,"(4, 51253)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2,1
13,"(4, 87217)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,9,1
14,"(4, 98617)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
15,"(4, 100981)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
16,"(4, 101858)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
17,"(5, 5)",1222,0,0,134,472,21,0,32,472,...,0,491,NaN,NaN,NaN,NaN,NaN,NaN,525,1
18,"(5, 8)",0,11,0,5,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,525,-1
19,"(5, 20)",171,3,4,7,193,0,31,0,73,...,18,0,NaN,NaN,NaN,NaN,NaN,NaN,822,1
20,"(5, 50)",32,1,1,1,41,0,8,0,11,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,583,1
21,"(5, 52)",157,4,7,15,73,9,8,2,94,...,3,27,NaN,NaN,NaN,NaN,NaN,NaN,584,1
22,"(5, 155)",191,4,1,12,179,1,18,1,127,...,10,8,NaN,NaN,NaN,NaN,NaN,NaN,679,1
23,"(5, 183)",19,0,0,0,3,1,2,0,4,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,534,1
24,"(5, 197)",114,0,2,4,47,0,3,0,65,...,3,1,NaN,NaN,NaN,NaN,NaN,NaN,559,1
25,"(5, 245)",79,0,3,0,42,2,7,1,45,...,1,7,NaN,NaN,NaN,NaN,NaN,NaN,547,1
26,"(5, 264)",5,61,0,22,19,1,1,0,1,...,4,0,NaN,NaN,NaN,NaN,NaN,NaN,550,-1
27,"(5, 302)",37,1,3,2,30,0,7,0,16,...,3,1,NaN,NaN,NaN,NaN,NaN,NaN,543,1
28,"(5, 311)",135,2,2,2,44,5,5,3,66,...,2,47,NaN,NaN,NaN,NaN,NaN,NaN,552,1
29,"(5, 317)",120,4,8,5,78,0,12,0,76,...,10,1,NaN,NaN,NaN,NaN,NaN,NaN,641,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841342,"(131789, 1334)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,137,1
841343,"(131791, 169)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,83,1
841344,"(131792, 131793)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841345,"(131795, 131796)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841346,"(131797, 105693)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841347,"(131798, 1784)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,83,1
841348,"(131798, 131803)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841349,"(131802, 45438)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841350,"(131804, 131804)",1,0,0,0,1,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
841351,"(131805, 29529)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,-1
841352,"(131806, 1511)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,89,1
841353,"(131807, 966)",0,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,356,1
841354,"(131808, 21300)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,19,1
841355,"(131809, 17036)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,61,1
841356,"(131810, 1493)",0,0,0,0,0,0,0,0,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,102,-1
841357,"(131811, 1262)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,42,1
841358,"(131812, 1685)",0,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,83,1
841359,"(131812, 17354)",0,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,201,1
841360,"(131814, 124731)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
841361,"(131815, 131816)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841362,"(131817, 1334)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,137,1
841363,"(131817, 2980)",0,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,27,1
841364,"(131817, 130652)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
841365,"(131818, 131819)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,-1
841366,"(131820, 125288)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841367,"(131821, 366)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,357,1
841368,"(131822, 112101)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841369,"(131823, 131824)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841370,"(131825, 131826)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
841371,"(131827, 7714)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,21,1

In [19]:
dplus_in_v=nx.get_edge_attributes(G,'dplus_in_v')
dminus_in_v=nx.get_edge_attributes(G,'dminus_in_v')
dplus_out_u=nx.get_edge_attributes(G,'dplus_out_u')
dminus_out_u=nx.get_edge_attributes(G,'dminus_out_u')
embed=nx.get_edge_attributes(G,'embed')

total_out_u=nx.get_edge_attributes(G,'total_out_u')
total_in_v=nx.get_edge_attributes(G,'total_in_v')
df['dplus_in_v']=dplus_in_v.values()
df['dminus_in_v']=dminus_in_v.values()
df['dplus_out_u']=dplus_out_u.values()
df['dminus_out_u']=dminus_out_u.values()
df['embed']=embed.values()

df['total_out_u']=total_out_u.values()
df['total_in_v']=total_in_v.values()

df1 = df.loc[df['embed']>25]

In [20]:
from sklearn.model_selection import train_test_split
X = df.drop(['edge','sign'],axis=1)
y = df['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [21]:
#embeddedness 0
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9254018719358194

In [22]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test,pred)

array([[ 13278,  11212],
       [  1341, 142444]])

In [23]:
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

/home/sudhanshu/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/multilayer_perceptron.py:566: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

0.9736978160748775

In [31]:
#embed 10

df10 = df.loc[df['embed']>=10]
from sklearn.model_selection import train_test_split
X = df10.drop(['edge','sign'],axis=1)
y = df10['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9361654508704076

In [82]:
#embed 10 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9056838656838657

In [32]:

#embed 25

df25 = df.loc[df['embed']>=25]
from sklearn.model_selection import train_test_split
X = df25.drop(['edge','sign'],axis=1)
y = df25['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9416733249629038

In [85]:
#embed 25 ann

ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9065149019020519

In [86]:

from sklearn.model_selection import KFold
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X,y):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    lr = LogisticRegression()
    lr.fit(X_train,y_train)
    pred = lr.predict(X_test)
    print(lr.score(X_test,y_test))

0.9214640867429461
0.9478193146417445
0.8692786963815001
0.9092978672417925
0.9182242990654206
0.8587946321591181
0.8623891684639349
0.8480709321830817
0.8344716031631919
0.8364485981308412

In [29]:

from sklearn.model_selection import KFold
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X,y):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    lr = LogisticRegression()
    lr.fit(X_train,y_train)
    pred = lr.predict(X_test)
    print(lr.score(X_test,y_test))

0.9209339675088023
0.9497807153005127
0.8673173142257088
0.9107418617579838
0.9279757860275496
0.8542220025943542
0.865208796639486
0.8486533234494688
0.8366073634791203
0.8377192982456141

We are merging features from emotional information theory  and degree and triads in the section below

In [25]:


df_new = pd.DataFrame(columns=['edge',
'uip_vip',
'uip_vin',
'uin_vip',
'uin_vin',
'uip_vop',
'uip_von',
'uin_vop',
'uin_von',
'uop_vip',
'uop_vin',
'uon_vip',
'uon_vin',
'uop_vop',
'uop_von',
'uon_vop',
'uon_von',
'dplus_in_v','dminus_in_v','dplus_out_u','dminus_out_u','total_out_u','total_in_v','embed',
'positivity_u', 'positivity_v', "negativity_u", 'negativity_v', 'pesimism_u', 'pesimism_v', 'optimism_u', 'optimism_v',
'sign'])

In [26]:
df2 = pd.read_csv("emotional_informations_epinions.csv")

In [27]:

df_new['positivity_u'] = df2['positivity_u']
df_new['positivity_v'] =df2['positivity_v'] 
df_new['negativity_u'] = df2['negativity_u']
df_new['negativity_v'] = df2['negativity_v']
df_new['pesimism_u'] = df2['pesimism_u']
df_new['pesimism_v'] = df2['pesimism_v']
df_new['optimism_u'] = df2['optimism_u']
df_new['optimism_v'] = df2['optimism_v']
df_new['edge'] = df2['edge'] 
df_new['dplus_in_v']=dplus_in_v.values()
df_new['dminus_in_v']=dminus_in_v.values()
df_new['dplus_out_u']=dplus_out_u.values()
df_new['dminus_out_u']=dminus_out_u.values()
df_new['embed']=embed.values()

df_new['total_out_u']=total_out_u.values()
df_new['total_in_v']=total_in_v.values()
df_new['edge']=uip_vip.keys()
df_new['uip_vip']=uip_vip.values()
df_new['uip_vin']=uip_vin.values()
df_new['uin_vip']=uin_vip.values()
df_new['uin_vin']=uin_vin.values()
df_new['uip_vop']=uip_vop.values()
df_new['uip_von']=uip_von.values()
df_new['uin_vop']=uin_vop.values()
df_new['uin_von']=uin_von.values()
df_new['uop_vip']=uop_vip.values()
df_new['uop_vin']=uop_vin.values()
df_new['uon_vip']=uon_vip.values()
df_new['uon_vin']=uon_vin.values()
df_new['uop_vop']=uop_vop.values()
df_new['uop_von']=uop_von.values()
df_new['uon_vop']=uon_vop.values()
df_new['uon_von']=uon_von.values()
df_new['embed'] = embed.values()

signCol=nx.get_edge_attributes(G,'sign')
df_new['sign'] = signCol.values()

In [28]:
#embeddedness 0
from sklearn.model_selection import train_test_split
X = df_new.drop(['edge','sign' ],axis=1)
y = df_new['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9479364136086763

In [100]:
#embed 0 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9147312934150271

In [148]:

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[13250, 11707],
       [ 3326, 81558]])

In [29]:
#embeddedness 10
df_new10 = df_new.loc[df['embed']>10]
X = df_new10.drop(['edge','sign' ],axis=1)
y = df_new10['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9541916739125824

In [151]:
#embeddedness 10 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9049804990853554

In [30]:
#embeddedness 25
df_new25 = df_new.loc[df['embed']>25]
X = df_new25.drop(['edge','sign' ],axis=1)
y = df_new25['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.9573735092678826

In [106]:
#embeddedness 25 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9041324356044228