In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx

In [2]:
df = pd.read_csv('slash.txt',sep='\t')

In [3]:
G = nx.DiGraph()
for index,rows in df.iterrows():
    u = rows['FromNodeId']
    v = rows['ToNodeId']
    s = rows['Sign']
    G.add_edge(u,v,sign=s)

In [4]:
in_pos = {}
in_neg = {}
for nodes in G.nodes():
    l = list(G.in_edges(nodes,data=True))
    pos = 0
    neg = 0
    for items in l:
        if items[2]['sign'] == 1:
            pos += 1
        else:
            neg += 1
    in_pos[nodes] = pos
    in_neg[nodes] = neg

In [5]:
nx.set_node_attributes(G,in_pos,'in_pos')
nx.set_node_attributes(G,in_neg,'in_neg')

In [6]:
out_pos = {}
out_neg = {}
for nodes in G.nodes():
    pos = 0
    neg = 0
    l = dict(G[nodes])
    for keys in l:
        if(l[keys]['sign'] == 1):
            pos += 1
        else:
            neg += 1
    out_pos[nodes] = pos
    out_neg[nodes] = neg

In [7]:
nx.set_node_attributes(G,out_pos,'out_pos')
nx.set_node_attributes(G,out_neg,'out_neg')

In [8]:
embed = {}
for edge in list(G.edges()):
    inward_i=[]
    inward_j=[]
    outward_i=[]
    outward_j=[]
    for items in list(G.in_edges(edge[0])):
        inward_i.append(items[0])
    for items in list(G.in_edges(edge[1])):
        inward_j.append(items[0])
    for keys in dict(G[edge[0]]):
        outward_i.append(keys)
    for keys in dict(G[edge[1]]):
        outward_j.append(keys)
    final_i = list(set(inward_i) | set(inward_j))
    final_j = list(set(outward_i) | set(outward_j))
    final = list(set(final_i) & set(final_j)) 
    embed[edge] = len(final)

In [9]:
nx.set_edge_attributes(G,embed,"embed")

In [10]:
in_pos_val = {}
in_neg_val = {}

for nodes in G.nodes():
    l = list(G.in_edges(nodes,data=True))
    pos=[]
    neg=[]
    for items in l:
        if items[2]['sign'] == 1:
            pos.append(items[0])
        else:
            neg.append(items[0])
    in_pos_val[nodes] = pos
    in_neg_val[nodes] = neg

In [11]:
out_pos_val = {}
out_neg_val = {}
for nodes in G.nodes():
    pos = []
    neg = []
    l = dict(G[nodes])
    for keys in l:
        if(l[keys]['sign'] == 1):
            pos.append(keys)
        else:
            neg.append(keys)
    out_pos_val[nodes] = pos
    out_neg_val[nodes] = neg

In [12]:
dplus_in_v = {}
dminus_in_v = {}
dplus_out_u = {}
dminus_out_u = {}
total_out_u = {}
total_in_v = {}
X = dict(G.nodes(data=True))
for edge in list(G.edges()):
    dplus_in_v[edge] = X[edge[1]]['in_pos']
    dminus_in_v[edge] = X[edge[1]]['in_neg']
    dplus_out_u[edge] = X[edge[0]]['out_pos']
    dminus_out_u[edge] = X[edge[0]]['out_neg']
    total_out_u[edge] = dplus_out_u[edge]+dminus_out_u[edge]
    total_in_v[edge] = dplus_in_v[edge]+dminus_in_v[edge]
nx.set_edge_attributes(G,dplus_in_v,"dplus_in_v")
nx.set_edge_attributes(G,dminus_in_v,"dminus_in_v")
nx.set_edge_attributes(G,dplus_out_u,"dplus_out_u")
nx.set_edge_attributes(G,dminus_out_u,"dminus_out_u")
nx.set_edge_attributes(G,total_out_u,"total_out_u")
nx.set_edge_attributes(G,total_in_v,"total_in_v")

In [13]:
uip_vip = {}
uip_vin = {}
uin_vip = {}
uin_vin = {}
uip_vop = {}
uip_von = {}
uin_vop = {}
uin_von = {}
uop_vip = {}
uop_vin = {}
uon_vip = {}
uon_vin = {}
uop_vop = {}
uop_von = {}
uon_vop = {}
uon_von = {}
X = dict(G.nodes(data=True))
edge_list = list(G.edges())
for edge in edge_list:
    u = edge[0]
    v = edge[1]
    uip = in_pos_val[u]
    uin = in_neg_val[u]
    uop = out_pos_val[u]
    uon = out_neg_val[u]
    vip = in_pos_val[v]
    vin = in_neg_val[v]
    vop = out_pos_val[v]
    von = out_neg_val[v]
    
    uip_vipx = len(list(set(uip) & set(vip)))
    uip_vinx = len(list(set(uip) & set(vin)))
    uin_vipx = len(list(set(uin) & set(vip)))
    uin_vinx = len(list(set(uin) & set(vin)))
    uip_vopx = len(list(set(uip) & set(vop)))
    uip_vonx = len(list(set(uip) & set(von)))
    uin_vopx = len(list(set(uin) & set(vop)))
    uin_vonx = len(list(set(uin) & set(von)))
    uop_vipx = len(list(set(uop) & set(vip)))
    uop_vinx = len(list(set(uop) & set(vin)))
    uon_vipx = len(list(set(uon) & set(vip)))
    uon_vinx = len(list(set(uon) & set(vin)))
    uop_vopx = len(list(set(uop) & set(vop)))
    uop_vonx = len(list(set(uop) & set(von)))
    uon_vopx = len(list(set(uon) & set(vop)))
    uon_vonx = len(list(set(uon) & set(von)))
    uip_vip[edge]=uip_vipx
    uip_vin[edge]=uip_vinx
    uin_vip[edge]=uin_vipx
    uin_vin[edge]=uin_vinx
    uip_vop[edge]=uip_vopx
    uip_von[edge]=uip_vonx
    uin_vop[edge]=uin_vopx
    uin_von[edge]=uin_vonx
    uop_vip[edge]=uop_vipx
    uop_vin[edge]=uop_vinx
    uon_vip[edge]=uon_vipx
    uon_vin[edge]=uon_vinx
    uop_vop[edge]=uop_vopx
    uop_von[edge]=uop_vonx
    uon_vop[edge]=uon_vopx
    uon_von[edge]=uon_vonx

    
nx.set_edge_attributes(G,uip_vip,"uip_vip")
nx.set_edge_attributes(G,uip_vin,"uip_vin")
nx.set_edge_attributes(G,uin_vip,"uin_vip")
nx.set_edge_attributes(G,uin_vin,"uin_vin")
nx.set_edge_attributes(G,uip_vop,"uip_vop")
nx.set_edge_attributes(G,uip_von,"uip_von")
nx.set_edge_attributes(G,uin_vop,"uin_vop")
nx.set_edge_attributes(G,uin_von,"uin_von")
nx.set_edge_attributes(G,uop_vip,"uop_vip")
nx.set_edge_attributes(G,uop_vin,"uop_vin")
nx.set_edge_attributes(G,uon_vip,"uon_vip")
nx.set_edge_attributes(G,uon_vin,"uon_vin")
nx.set_edge_attributes(G,uop_vop,"uop_vop")
nx.set_edge_attributes(G,uop_von,"uop_von")
nx.set_edge_attributes(G,uon_vop,"uon_vop")
nx.set_edge_attributes(G,uon_von,"uon_von")

In [56]:
df = pd.DataFrame(columns=[
'edge',
'uip_vip',
'uip_vin',
'uin_vip',
'uin_vin',
'uip_vop',
'uip_von',
'uin_vop',
'uin_von',
'uop_vip',
'uop_vin',
'uon_vip',
'uon_vin',
'uop_vop',
'uop_von',
'uon_vop',
'uon_von',
'dplus_in_v','dminus_in_v','dplus_out_u','dminus_out_u','total_out_u','total_in_v','embed',
'sign'])

In [15]:
df

Empty DataFrame
Columns: [edge, uip_vip, uip_vin, uin_vip, uin_vin, uip_vop, uip_von, uin_vop, uin_von, uop_vip, uop_vin, uon_vip, uon_vin, uop_vop, uop_von, uon_vop, uon_von, dplus_in_v, dminus_in_v, dplus_out_u, dminus_out_u, total_out_u, total_in_v, embed, sign]
Index: []

[0 rows x 25 columns]

In [57]:
df['edge']=uip_vip.keys()
df['uip_vip']=uip_vip.values()
df['uip_vin']=uip_vin.values()
df['uin_vip']=uin_vip.values()
df['uin_vin']=uin_vin.values()
df['uip_vop']=uip_vop.values()
df['uip_von']=uip_von.values()
df['uin_vop']=uin_vop.values()
df['uin_von']=uin_von.values()
df['uop_vip']=uop_vip.values()
df['uop_vin']=uop_vin.values()
df['uon_vip']=uon_vip.values()
df['uon_vin']=uon_vin.values()
df['uop_vop']=uop_vop.values()
df['uop_von']=uop_von.values()
df['uon_vop']=uon_vop.values()
df['uon_von']=uon_von.values()
df['embed'] = embed.values()
signCol=nx.get_edge_attributes(G,'sign')
df['sign'] = signCol.values()

In [18]:
df

,edge,uip_vip,uip_vin,uin_vip,uin_vin,uip_vop,uip_von,uin_vop,uin_von,uop_vip,...,uon_vop,uon_von,dplus_in_v,dminus_in_v,dplus_out_u,dminus_out_u,total_out_u,total_in_v,embed,sign
0,"(0, 1)",9,0,0,0,5,0,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,42,1
1,"(0, 2)",3,0,1,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,1
2,"(0, 3)",14,1,0,2,2,0,0,0,2,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,16,1
3,"(0, 4)",4,1,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,1
4,"(0, 5)",3,0,0,0,1,1,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,18,1
5,"(0, 6)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,16,1
6,"(0, 7)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15,1
7,"(0, 8)",45,1,1,7,12,1,0,0,5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,102,1
8,"(0, 9)",32,1,0,4,6,0,0,0,6,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,34,1
9,"(0, 10)",3,0,0,0,2,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,20,1
10,"(0, 11)",8,0,0,0,13,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,102,1
11,"(0, 12)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,1
12,"(0, 13)",0,0,0,1,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,14,1
13,"(0, 14)",3,0,0,0,7,0,0,1,0,...,0,1,NaN,NaN,NaN,NaN,NaN,NaN,36,1
14,"(0, 15)",7,0,1,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15,1
15,"(0, 16)",1,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,34,1
16,"(0, 17)",80,0,1,10,5,0,0,0,5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,30,1
17,"(0, 18)",2,0,0,0,3,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,16,1
18,"(0, 19)",2,0,0,0,3,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,19,1
19,"(0, 20)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,1
20,"(0, 21)",6,1,3,1,3,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,44,1
21,"(0, 22)",6,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,14,1
22,"(0, 23)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,1
23,"(0, 24)",1,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15,1
24,"(0, 25)",1,1,0,0,0,2,0,1,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,26,-1
25,"(0, 26)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15,-1
26,"(0, 27)",0,0,1,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,-1
27,"(0, 28)",0,1,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,13,-1
28,"(0, 29)",1,5,1,0,2,0,1,0,0,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,31,-1
29,"(1, 0)",9,0,0,0,0,0,0,0,5,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,42,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549172,"(82112, 76716)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
549173,"(82113, 76730)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549174,"(82115, 81554)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549175,"(82116, 76813)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549176,"(82117, 76850)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549177,"(82118, 76873)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549178,"(82119, 77132)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549179,"(82119, 82120)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549180,"(82119, 82121)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549181,"(82122, 81615)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549182,"(82124, 81624)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549183,"(82125, 78027)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
549184,"(82126, 78053)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549185,"(82126, 78054)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2,1
549186,"(82128, 78170)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549187,"(82129, 78443)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549188,"(82130, 78568)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549189,"(82131, 79090)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549190,"(82132, 79454)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549191,"(82133, 79821)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1
549192,"(82134, 79934)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549193,"(82135, 80173)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549194,"(82137, 80569)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549195,"(82138, 81502)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549196,"(82139, 81584)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549197,"(82140, 81612)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549198,"(82141, 82129)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549199,"(82141, 82142)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549200,"(82143, 81974)",0,0,0,0,0,0,0,0,0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,1
549201,"(82143, 82136)",0,0,0,0,0,0,0,0,1,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [58]:
dplus_in_v=nx.get_edge_attributes(G,'dplus_in_v')
dminus_in_v=nx.get_edge_attributes(G,'dminus_in_v')
dplus_out_u=nx.get_edge_attributes(G,'dplus_out_u')
dminus_out_u=nx.get_edge_attributes(G,'dminus_out_u')
embed=nx.get_edge_attributes(G,'embed')

total_out_u=nx.get_edge_attributes(G,'total_out_u')
total_in_v=nx.get_edge_attributes(G,'total_in_v')
df['dplus_in_v']=dplus_in_v.values()
df['dminus_in_v']=dminus_in_v.values()
df['dplus_out_u']=dplus_out_u.values()
df['dminus_out_u']=dminus_out_u.values()
df['embed']=embed.values()

df['total_out_u']=total_out_u.values()
df['total_in_v']=total_in_v.values()

df1 = df.loc[df['embed']>25]

In [59]:
from sklearn.model_selection import train_test_split
X = df.drop(['edge','sign'],axis=1)
y = df['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [60]:
#embeddedness 0
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.8504110486976629

In [22]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[11716, 13241],
       [ 3190, 81694]])

In [23]:
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9129377918991998

In [81]:
#embed 10

df10 = df.loc[df['embed']>=10]
from sklearn.model_selection import train_test_split
X = df10.drop(['edge','sign'],axis=1)
y = df10['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.8602948402948403

In [82]:
#embed 10 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9056838656838657

In [84]:

#embed 25

df25 = df.loc[df['embed']>=25]
from sklearn.model_selection import train_test_split
X = df25.drop(['edge','sign'],axis=1)
y = df25['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.881863112176127

In [85]:
#embed 25 ann

ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9065149019020519

In [86]:

from sklearn.model_selection import KFold
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X,y):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    lr = LogisticRegression()
    lr.fit(X_train,y_train)
    pred = lr.predict(X_test)
    print(lr.score(X_test,y_test))

0.9214640867429461
0.9478193146417445
0.8692786963815001
0.9092978672417925
0.9182242990654206
0.8587946321591181
0.8623891684639349
0.8480709321830817
0.8344716031631919
0.8364485981308412

In [29]:

from sklearn.model_selection import KFold
kf = KFold(n_splits=10)

for train_index, test_index in kf.split(X,y):
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    lr = LogisticRegression()
    lr.fit(X_train,y_train)
    pred = lr.predict(X_test)
    print(lr.score(X_test,y_test))

0.9209339675088023
0.9497807153005127
0.8673173142257088
0.9107418617579838
0.9279757860275496
0.8542220025943542
0.865208796639486
0.8486533234494688
0.8366073634791203
0.8377192982456141

In [88]:
df_new = pd.DataFrame(columns=['edge',
'uip_vip',
'uip_vin',
'uin_vip',
'uin_vin',
'uip_vop',
'uip_von',
'uin_vop',
'uin_von',
'uop_vip',
'uop_vin',
'uon_vip',
'uon_vin',
'uop_vop',
'uop_von',
'uon_vop',
'uon_von',
'dplus_in_v','dminus_in_v','dplus_out_u','dminus_out_u','total_out_u','total_in_v','embed',
'positivity_u', 'positivity_v', "negativity_u", 'negativity_v', 'pesimism_u', 'pesimism_v', 'optimism_u', 'optimism_v',
'sign'])

In [89]:
df2 = pd.read_csv("emotional_informations.csv")

In [90]:

df_new['positivity_u'] = df2['positivity_u']
df_new['positivity_v'] =df2['positivity_v'] 
df_new['negativity_u'] = df2['negativity_u']
df_new['negativity_v'] = df2['negativity_v']
df_new['pesimism_u'] = df2['pesimism_u']
df_new['pesimism_v'] = df2['pesimism_v']
df_new['optimism_u'] = df2['optimism_u']
df_new['optimism_v'] = df2['optimism_v']
df_new['edge'] = df2['edge'] 
df_new['dplus_in_v']=dplus_in_v.values()
df_new['dminus_in_v']=dminus_in_v.values()
df_new['dplus_out_u']=dplus_out_u.values()
df_new['dminus_out_u']=dminus_out_u.values()
df_new['embed']=embed.values()

df_new['total_out_u']=total_out_u.values()
df_new['total_in_v']=total_in_v.values()
df_new['edge']=uip_vip.keys()
df_new['uip_vip']=uip_vip.values()
df_new['uip_vin']=uip_vin.values()
df_new['uin_vip']=uin_vip.values()
df_new['uin_vin']=uin_vin.values()
df_new['uip_vop']=uip_vop.values()
df_new['uip_von']=uip_von.values()
df_new['uin_vop']=uin_vop.values()
df_new['uin_von']=uin_von.values()
df_new['uop_vip']=uop_vip.values()
df_new['uop_vin']=uop_vin.values()
df_new['uon_vip']=uon_vip.values()
df_new['uon_vin']=uon_vin.values()
df_new['uop_vop']=uop_vop.values()
df_new['uop_von']=uop_von.values()
df_new['uon_vop']=uon_vop.values()
df_new['uon_von']=uon_von.values()
df_new['embed'] = embed.values()

signCol=nx.get_edge_attributes(G,'sign')
df_new['sign'] = signCol.values()

In [147]:
#embeddedness 0
from sklearn.model_selection import train_test_split
X = df_new.drop(['edge','sign' ],axis=1)
y = df_new['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)


from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.8631385366120119

In [100]:
#embed 0 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9147312934150271

In [148]:

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[13250, 11707],
       [ 3326, 81558]])

In [150]:
#embeddedness 10
df_new10 = df_new.loc[df['embed']>10]
X = df_new10.drop(['edge','sign' ],axis=1)
y = df_new10['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.8706036654816554

In [151]:
#embeddedness 10 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9049804990853554

In [152]:
#embeddedness 25
df_new25 = df_new.loc[df['embed']>25]
X = df_new25.drop(['edge','sign' ],axis=1)
y = df_new25['sign']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

lr = LogisticRegression()
lr.fit(X_train,y_train)
pred = lr.predict(X_test)
lr.score(X_test,y_test)

0.8899252578911606

In [106]:
#embeddedness 25 ann
ann = MLPClassifier()
ann.fit(X_train,y_train)
ann.score(X_test,y_test)

0.9041324356044228